<% @bookings.each_with_index do |booking, index| %>
<h1><%= @postings[index].title %></h1>
<p>£<%= @postings[index].price %></p>
<p><%= @bookers[index].name %><br><%= @bookers[index].email %></p>
<p>Status: <%= booking.status %></p>
<form action="/:id/bookings/received/<%= booking.id %>" method='post'>
  <input name="_method" type="hidden" value="PATCH">
  <input name="Confirmed" type="submit" value="Accept">
  <input name="Declined" type="submit" value="Decline">
</form>
<% end %>
