<%= erb :'partials/head' %>
<%= erb :'partials/nav_bar' %>
<h1 class='listing_pages_title_text'>Your received bookings</h1>
<% @bookings.each_with_index do |booking, index| %>
<article class='jumbotron'>
<h1><%= @postings[index].title %></h1>
<p>£<%= @postings[index].price %></p>
<p><%= @bookers[index].name %><br><%= @bookers[index].email %></p>
<p>Status: <%= booking.status %></p>
<form action="/:id/bookings/received/<%= booking.id %>" method='post'>
  <input name="_method" type="hidden" value="PATCH">
  <input id='accept' class='custom_button' type="submit" name="Confirmed" value="Accept">
  <input id='decline' class='custom_button' type="submit" name="Declined" value="Decline">
</form>
</article>
<% end %>
