<%= erb :'partials/head' %>
<%= erb :'partials/nav_bar' %>
<h1 class='listing_pages_title_text'>Your submitted bookings</h1>
<% @bookings.each_with_index do |booking, index| %>
<article class='jumbotron'
<h1><%= @postings[index].title %></h1>
<h3><%= @postings[index].description %></h3>
<p>The price is: £<%= @postings[index].price %></p>
<p><%= @owners[index].name %><br><%= @owners[index].email %></p>
<p>Status: <%= booking.status %></p>
</article>
<% end %>
<form action="/<%= @current_user.id %>/home" method='get'>
  <input type='submit' value='Home'>
</form>
