<!DOCTYPE html>
<html>
<head>
  <script src="/script/jquery-3.3.1.min.js"></script>
  <script src="https://code.jquery.com/ui/1.11.3/jquery-ui.min.js"></script>
  <script src="/script/dates.js"></script>
</head>

<body>
  <h1><%= @post.title %></h1>
  <h3><%= @post.description %></h3>
  <p>The price is: £<%= @post.price %></p>
  <p>Available from: <%= @post.date_from %> </p>
  <p>Available to: <%= @post.date_to %> </p>
  <p><%= @owner.name %><br><%= @owner.email %></p>
  <form action="/postings/<%= @post.id %>/book" method="post">
    <input type="hidden" name="owner_id" value="<%= @owner.id %>" >
    <input type="hidden" name="user_id" value="<%= @current_user.id %>" >
    <input type="hidden" name="posting_id" value="<%= @post.id %>" >
    <label>Booking date:</label>
    <!-- <input type="text" id="datepicker" name="booking_date"> -->
    <input type="date" id="datepicker" name="booking_date" value="2018-11-08">
    <input type="submit" value="Submit Booking" >
  </form>
  <%= flash[:message]%>
  <form action="/<%= @current_user.id %>/home" method='get'>
    <input type='submit' value='Home'>
  </form>
</body>
