<h1><%= @post.title %></h1>
<h3><%= @post.description %></h3>
<p>The price is: £<%= @post.price %></p>
<p>Available from: <%= @post.date_from %> </p>
<p>Available to: <%= @post.date_to %> </p>
<p><%= @user.name %><br><%= @user.email %></p>
<button type="button">Request Booking</button>
